<h2>Show Horse</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @horse.name %>
  </li>

  <li>
    <strong>Wins:</strong>
    <%= @horse.wins %>
  </li>

  <li>
    <strong>Losses:</strong>
    <%= @horse.losses %>
  </li>

</ul>

<span><%= link "Edit", to: horse_path(@conn, :edit, @horse) %></span>
<span><%= link "Back", to: horse_path(@conn, :index) %></span>
