/* This file is for your main application css. */
@import 'normalize.css';

.sprite {
height:100px;
width:100px;
}


/* Phoenix flash messages */
.alert:empty { display: none; }

/* custom css */

.navbar {
  grid-area: nav;
  background-color: #A8A8A8;
  margin: 0;
  padding: 6px;
  color: white;
}

nav .user {
  float: right;
  margin-right: 1em;
}

nav .user a {
  text-decoration: none;
  color: black;
}

nav span {
  margin: 0 5px;
}

nav .logo {
  width: 501px;
  height: 72px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/horse.png");
  background-size: 100px 71px;
}

.container {
  margin: 0;
  padding: 0;
}

.content {
  grid-area: content;
  border: 1px solid gray;
}

.side {
  grid-area: sidebar;
  border: 1px solid gray;
  padding: 10px;
}

.foot {
  grid-area: footer;
  border: 1px solid gray;
}

.wrapper {
  padding-top: 10px;
  display: grid;
  grid-gap: 10px;
  background-color: powderblue;
  grid-template-areas:
    "nav"
    "content"
    "sidebar"
    "footer";
}



@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "nav     nav"
      "content sidebar"
      "footer  footer"
  }
}

.start {
  list-style: none;
}


.racer {
  border: 1px solid black;
  border-radius: 4px;
  position: relative;
  height: 100px;
  margin: 20px 100px 20px 0;
  background-color: blue;
}

.finish-pic {
  height: 100px;
  width: 100px;
}

.footer-pic {
  height: 100px;
  width: 100px;
}
