
@import 'normalize.css';


/* Phoenix flash messages */
.alert:empty { display: none; }

/* custom css for react pages */


.sprite {
  height:100px;
  width:100px;
}

.lighthouse {
  height:100px;
  width:100px;
  float: right;
  margin-right: 4px;
  background: linear-gradient(180deg, rgba(0,0,0,0) 9px, rgb(171,206,212) 79px, rgb(171,206,212) 81px, rgba(0,0,0,0) 101px), linear-gradient(0deg, rgb(238,238,238) 0.1em, rgba(0,0,0,0) 0.1em), rgb(255, 255, 255);
  transform: translateX(4px);
}

.sprite-name {
  color: red;
}

.navbar {
  font-family: 'Dosis', sans-serif;
  grid-area: nav;
  background-color: white;
  margin: 0;
  padding: 10px 0;
  color: #91C61E;
}

.center {
  display: flex;
  justify-content: space-between;
}

.header {
  font-size: 26px;
  font-weight: bold;
  font-variant: small-caps;
}

.newheader {
  font-size: 40px;
  font-weight: bold;
  font-variant: small-caps;
}

.regular {
  padding: 5px;
  color: black;
}

.regular a {
  text-decoration: none;
  color: black;
}

.regular a:hover {
  text-decoration: underline;
  color: blue;
}

.regular i, .regular a i {
  color: #91C61E;
}

.logo {
  width: 100%;
  height: 72px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/horse.png");
  background-size: 100px 71px;
}

.audio-player {
  display: inline;
  float: right;
  margin: 10px;
  .mute {
    background:url(http://cdn.flaticon.com/png/64/60750.png) no-repeat center;
    background-size:32px;
    border:0;
    width:32px;
    height:32px;
    text-indent:-999px;
  }
  .unmute {
    background:url(http://cdn.flaticon.com/png/64/498.png) no-repeat center;
    background-size:32px;
    border:0;
    width:32px;
    height:32px;
    text-indent:-999px;
  }
}

.marquee {
  display: inline-block;
  height: 25px;
  width: 85%;
  margin: 15px;

  overflow: hidden;
  position: relative;

  div {
    position: absolute;
    animation: marquee 10s linear infinite;
  }

  span {
    display: inline;
  }
  .black {
    color: black;
  }

  .payouts {
    color: green;
  }
}
@keyframes marquee {
  0% { left: 100%; }
  100% { left: -120%; }
}

@media (min-width: 1200px) {
  .marquee div {
    animation: none;
  }
}

.container {
  margin: 0 50px 0 60px;
  padding: 0;
}

.content {
  grid-area: content;
  border: 5px solid #91C61E;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.messages {
  grid-area: messages;
  padding: 10px;
  border: 5px solid #91C61E;
  border-radius: 10px;
  max-height: 95%;
  max-width: 95%;
  overflow: scroll;
}

.chatbar-message {
  grid-area: input-field;
  margin: 0 auto;
  padding: 10px;
  border: 5px solid #91C61E;
  border-radius: 10px;
}

.talk-area {
  max-width: 80vw;
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 10fr 1fr;
  grid-template-areas:
    "messages"
    "input-field";
}

.side {
  grid-area: sidebar;
  border: 5px solid #91C61E;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.foot {
  height: 100px;
  grid-area: footer;
  border: 5px solid #91C61E;
  border-radius: 10px;
  color: #91C61E;
}

.start {
  list-style: none;
}

.someDiv {
  min-height: 70vh;
}

.racer {
  border: 1px solid black;
  border-left: none;
  border-right: none;
  position: relative;
  height: 100px;
  width: 100%;
  margin: 20px 100px 10px 0;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: default;
  opacity: 1;
  overflow: visible;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,0) 79px, rgb(171,206,212) 79px, rgb(171,206,212) 81px, rgba(0,0,0,0) 81px), -webkit-linear-gradient(90deg, rgb(238,238,238) 0.1em, rgba(0,0,0,0) 0.1em), rgb(255, 255, 255);
  background: -moz-linear-gradient(1200deg, rgba(0,0,0,0) 9px, rgb(171,206,212) 79px, rgb(171,206,212) 81px, rgba(0,0,0,0) 101px), -moz-linear-gradient(0deg, rgb(238,238,238) 0.1em, rgba(0,0,0,0) 0.1em), rgb(255, 255, 255);
  background: linear-gradient(120deg, rgba(0,0,0,0) 9px, rgb(171,206,212) 79px, rgb(171,206,212) 81px, rgba(0,0,0,0) 101px), linear-gradient(0deg, rgb(238,238,238) 0.1em, rgba(0,0,0,0) 0.1em), rgb(255, 255, 255);
  background-position: auto auto;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 100% 1.2em;
  background-size: 100% 1.2em;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
}

.show-odds {
  color: red;
  padding: 10px;
}

.winner {
  animation-name: winner;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  margin: auto;
  width: 50%;
}

@keyframes winner {
  from {color: red;}
  to {color: blue;}
}

.finish {
  float: right;
  height: 90px;
  width: 90px;
  transform: scaleX(-1);
  border-radius: 10px;
  background: none;
}

.footer-pic {
  height: 70px;
  width: 70px;
}

@media (min-width: 1px) and (max-width: 320px) {

  .sprite {
    transform: translateX(-75%);
  }

  .wrapper {
    transform: translateX(-40px);
    width: 98%;
    background-color: white;
    font-family: 'Dosis', sans-serif;
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
      "nav"
      "content"
      "sidebar"
      "footer";
  }
}

@media (min-width: 321px) and (max-width: 360px) {

  .sprite {
    transform: translateX(-75%);
  }

  .wrapper {
    transform: translateX(-20px);
    width: 98%;
    background-color: white;
    font-family: 'Dosis', sans-serif;
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
      "nav"
      "content"
      "sidebar"
      "footer";
  }
}

@media (min-width: 361px) and (max-width: 375px) {

  .sprite {
    transform: translateX(-75%);
  }

  .wrapper {
    transform: translateX(-20px);
    width: 98%;
    background-color: white;
    font-family: 'Dosis', sans-serif;
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
      "nav"
      "content"
      "sidebar"
      "footer";
  }
}

@media (min-width: 376px) and (max-width: 414px) {

  .sprite {
    transform: translateX(-70%);
  }

  .wrapper {
    transform: translateX(-10px);
    width: 98%;
    background-color: white;
    font-family: 'Dosis', sans-serif;
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
      "nav"
      "content"
      "sidebar"
      "footer";
  }
}

@media (min-width: 415px) and (max-width: 768px) {

  .sprite {
    transform: translateX(-65%);
  }

  .wrapper {
    width: 98%;
    background-color: white;
    font-family: 'Dosis', sans-serif;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "nav     nav"
      "content sidebar"
      "footer  footer"
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  .sprite {
    transform: translateX(-50%);
  }

  .wrapper {
    width: 98%;
    background-color: white;
    font-family: 'Dosis', sans-serif;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "nav     nav"
      "content sidebar"
      "footer  footer"
  }

  .someDiv {
    transform: translateY(10%)
  }

  .talk-area {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 15fr 1fr;
    grid-template-areas:
      "messages"
      "input-field";
  }
}

@media (min-width: 1025px) {

  .sprite {
    transform: translateX(-40%);
  }

  .winner {
    transform: translateY(20%);
    text-align: center;
  }

  .marquee {
    display: flex;
    justify-content: center;
  }

  .wrapper {
    width: 98%;
    background-color: white;
    font-family: 'Dosis', sans-serif;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "nav     nav"
      "content sidebar"
      "footer  footer"
  }
}

.won {
  height: 100px;
  width: 100px;
}

@media (min-width: 769px) {
  .won {
    height: 300px;
    width: 300px;
  }
}


