nav {
  background-color: #A8A8A8;
  margin: 0;
  padding: 6px;
  color: black;
}
nav .user {
  float: right;
  margin-right: 1em;
}
nav .user a {
  text-decoration: none;
  color: black;
}
nav span {
  margin: 0 5px;
}