nav {
  background-color: #A8A8A8;
  margin: 0;
  padding: 6px;
  color: white;
}
nav .user {
  float: right;
  margin-right: 1em;
}
nav .user a {
  text-decoration: none;
  color: black;
}
nav span {
  margin: 0 5px;
}

nav .logo {
  width: 519px;
  height: 71px;
  margin-bottom: 1em;
  background-image: url("/images/horse.png");
  background-size: 100px 60px;
}