nav {
  background-color: #A8A8A8;
  margin: 0;
  padding: 6px;
  color: black; }
  nav .login {
    float: right;
    margin: 0 1em 0 0; }
    nav .login a {
      text-decoration: none;
      color: black; }

